<body>
    <div id = "nav">
        <ul>      
            <li style="float:right"><a class="hvr-float-shadow"  (click)="scrollToComponent('aboutme')" routerLink="/about-me" routerLinkActive="active">About Me</a></li>
            <li style="float:right"><a class="hvr-float-shadow"  (click)="scrollToComponent('proj')" routerLink="/projects" routerLinkActive="active">Projects</a></li>
            <li style="float:right"><a class="hvr-float-shadow"  (click)="scrollToComponent('work')" routerLink="/work-exp" routerLinkActive="active">Work Experience</a></li>
            <li style="float:right"><a class="hvr-float-shadow"  (click)="scrollToComponent('edu')"  routerLink="/education" routerLinkActive="active">Education</a></li>
            <li style="float:right"><a class="hvr-float-shadow" (click)="scrollToComponent('home')"  routerLink="/home" routerLinkActive="active">Home</a></li>
          </ul>
    </div>
</body>



