<div class = "head-div">
    <button class = "head-div button hvr-bounce-to-bottom" [routerLink] = "['introduction']">
      <i class="fa fa-hand-spock fa-1x" aria-hidden="true" ></i> Home
    </button>
    <button class = "head-div button  hvr-bounce-to-bottom" [routerLink] = "['education']"> 
      <i class="fa fa-book fa-1x" aria-hidden="true"></i> Education
    </button>
    <button class = "head-div button hvr-bounce-to-bottom" [routerLink] = "['work-exp']">
    <i class="fab fa-black-tie fa-1x" aria-hidden="true"></i> Work Experience
    </button>
    <!---
    <button class = "head-div button hvr-bounce-to-bottom" [routerLink] = "['projects']"> 
        <i class="fa fa-plug" aria-hidden="true"></i>
        Projects
    </button>
    <button class = "head-div button hvr-bounce-to-bottom" [routerLink] = "['about-me']">
      <i class="fas fa-user fa-1x" aria-hidden="true"></i> About Me
    </button>
  -->

</div>