
    <div class = "heading">
        <h2>Projects</h2>
    </div>
    <div class = "row">
        <div class = "column side">
            <button id="nyit-button" class = "hvr-rectangle-in"> </button>
        </div>
        <div class = "column middle-we">
            <h4></h4>
            <ul>
            </ul>
        </div>
    </div>
    <div class = "row">
        <div class = "column side">
            <button id="nyit-button" class = "hvr-rectangle-in"> </button>
        </div>
        <div class = "column middle-we">
            <h4></h4>
            <ul>
            </ul>
        </div>
    </div>
    <div class = "row">
        <div class = "column side">
            <button id="gentherm-button" class = "hvr-rectangle-in"> </button>
        </div>
        <div class = "column middle-we">
            <ul>
            </ul>
        </div>
    </div>

