<body>
<div class = "header">
    <h2>Work Experience</h2>
</div>
<div class = "row">
    <div class = "column side">
        <button id="nyit-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h3></h3>
        <ul>
            <li> Stuff</li>
            <li> Things</li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="nyit-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h3></h3>
        <ul>
            <li> Stuff</li>
            <li> Things</li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="nyit-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h3></h3>
        <ul>
            <li> Stuff</li>
            <li> Things</li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="nyit-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h3></h3>
        <ul>
            <li> Stuff</li>
            <li> Things</li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="nyit-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h3></h3>
        <ul>
            <li> Stuff</li>
            <li> Things</li>
        </ul>
    </div>
</div>
</body>