<body>
<div class = "header">
    <h2>Work Experience</h2>
</div>
<div class = "row">
    <div class = "column side">
        <button id="nyit-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h4>December 2019 - Present (Dr.Dong)</h4>
        <ul>
            <li> Lead student researcher for study of the Prevalance of COVID-19 in New York City. Using Python for data cleaning, visualization as well as making Machine Learning models(Pandas, Numpy, LSTM)</li>
            <li> Assistant Researcher on truck electrification project, where the aim is to simulate the energy consumption of desiel & electric trucks travelling on food delivery routes in NYC, using Here API and Python</li>
            <li> Created object recognition model for detection of AC units in buildings around NYC in order to estimate power consumption using openCV</li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="nyit-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h4> January 2020 - June 2020 (Dr.Nath) </h4>
        <ul>
            <li> Worked alongside Dr.Nath and her team to use machine learning and image recognition to help identify cancerous cells </li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="gentherm-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h4> Co-op Engineer at Gentherm</h4>
        <h4> October 2017 - January 2018</h4>
        <ul>
            <li> Managed and maintained the Salt Fog, Vibration and Thermal test chambers and performed tests on Gentherm Equipment as needed</li>
            <li> Determined more efficient testing processes, ie, add hardware (Arduinos) to automate certain test apparatus to overcome the tedious and repetitive processes</li>
            <li> Built Test Stations i.e. Computer, DAQ, DMM, power source installation etc (specification varied from test stand to test stand)</li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="fev-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h4> Co-op Engineer at FEV</h4>
        <h4> April 2015 - June 2015</h4>
        <ul>
            <li> Assisted with software testing involving the CAN units in the specified cars</li>
            <li> Temperature tested different car parts</li>
            <li> Examined and updated FMEA’s for projects</li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="calbay-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h4> Co-op Engineer at Calbay Systems</h4>
        <h4> October 2013 - June 2014</h4>
        <ul>    
            <li> Software Engineering: Became acquainted with Labview and began using it in simple assignments </li>
            <li> Test Station Setup and Final Checkout: 
                Set up incoming test station software and ensure hardware functionality 
                Perform final test prior to shipment to customers and ensure proper overall operation
                </li>
        </ul>
    </div>
</div>
</body>