<body>
<div class = "header">
    <h2>Work Experience</h2>
</div>
<div class = "row">
    <div class = "column side">
        <button id="nyit-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h4>January 2020 - Present (Dr.Dong)</h4>
        <ul>
            <li> Currently the lead student researcher on a study of the relationship between COVID and the use of public transportation</li>
            <li> Assistant Research on truck electrification project</li>
            <li> Created an AC recognition model using openCV</li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="nyit-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h4> January 2020 - June 2020 (Dr.Nath) </h4>
        <ul>
            <li> Worked alongside Dr.Nath and her team to use machine learning and image recognition to help identify cancerous cells </li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="gentherm-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h4> Co-op Engineer at Gentherm</h4>
        <h4> October 2017 - January 2018</h4>
        <ul>
            <li> Managed and maintained the Salt Fog, Vibration and Thermal test chambers and performed tests as needed</li>
            <li> Determined more efficient testing processes, ie, add hardware (Arduinos) to automate certain test apparatus to overcome the tedious and repetitive processes, build and use an automatic test report generator etc</li>
            <li> Built Test Stations i.e. Computer, DAQ, DMM, power source installation etc (specification varied from test stand to test stand)</li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="fev-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h4> Co-op Engineer at FEV</h4>
        <h4> April 2015 - June 2015</h4>
        <ul>
            <li> Assisted with software testing involving the CAN units in the specified cars</li>
            <li> Temperature tested different parts</li>
            <li> Examined and updated FMEA’s for projects</li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "column side">
        <button id="calbay-button" class = "hvr-rectangle-in"> </button>
    </div>
    <div class = "column middle-we">
        <h4> Co-op Engineer at Calbay Systems</h4>
        <h4> October 2013 - June 2014</h4>
        <ul>    
            <li> Software Engineering: Became acquainted with Labview and began using in simple assignments </li>
            <li> Test Station Setup and Final Checkout: 
                Set up incoming test station software and ensure hardware functionality 
                Perform final test prior to shipment to customers and ensure proper overall operation
                </li>
        </ul>
    </div>
</div>
</body>