
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
}


.vl {
  border-left: 2px solid rgb(105, 105, 105);
  height: 150%;
  position: absolute;
  left: 15%;
  margin-left: -3px;
  top: 10;
}
.heading{
  background-color: white;
  height: 200px;
  overflow: hidden;
  opacity: 0.9;
}
.footer{

  text-align: center;
}

h1 {
  color:white;
  font-size: 500%;
  text-align: center;
}
h2 {
  color: rgb(59, 194, 228);
  font-size: 300%;
  font-weight: bolder;
  line-height: 2;
}
h3{
  position: relative;
  left: 20px;
  top: -30px;
  color: white;
  font-size: 200%;
  font-weight: lighter;
  line-height: 2;
  margin-top: -60px; 
}
.column.middle img{
  float:left;
  width: 100px;
  height: 100px; 
  margin-top: -110px; 
  margin-left: 50px;
}

.column{
  float: left; 
  padding: 0px; 
  margin-top: 50px;
}

.column.side{
  width: 30%; 
}

.column.middle{
  background-color: white;
  width: 65%; 
  height: 490px; 
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 60px;
}

.row{
  margin-top: 20px;
}
.row:after{
  content: ""; 
  display: table; 
  clear: both; 
}
p{
  color: white;
}
ul{
  color: rgb(17, 207, 119); 
  padding: 10px; 
  margin-left: 20px;
  margin-top: 40px; 
}
li{
  padding: 10px;
  margin-top: 10px;
}

html{
  height:100%;
}

body {
 /*margin: 0;
 background-image: url('/assets/img/landing-page.JPG');
 background-size: cover;*/
 height: 100%;
}

.wrapper{
  height:100%;
}
.fixed-bg{
  background-image: url('/assets/img/landing-page.JPG');

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.body-content{
  margin: 0;
  /*
  background: rgb(11, 27, 43);
  background-size: cover;
  */
  margin-left: 60px;
}
body, input[type="text"], button {
  color: rgb(0, 0, 0);
  font-family: Palatino;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}