
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
.pic-div{
  position: relative;
}
.profilepic{
  position: absolute; 
  top: 160px; 
  left: 35%; 
  width: 350px; 
  height: 450px;  
}
html{
  background: rgb(11, 27, 43);
  background-size: cover;
}
.vl {
  border-left: 2px solid rgb(105, 105, 105);
  height: 150%;
  position: absolute;
  left: 15%;
  margin-left: -3px;
  top: 10;
}
.header{
  position: absolute;
  top: 60px; 
}
.footer{

  text-align: center;
}

h1 {
  background: rgb(11, 27, 43);
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300%;
  font-weight: lighter;
  line-height: 2;
}

.column{
  float: left; 
  padding: 0px; 
}

.column.side{
  width: 15%; 
}

.column.middle{
  width: 60%; 
  margin: 2em;
}

.row:after{
  content: ""; 
  display: table; 
  clear: both; 
}

body {
 margin: 2em;
}
body, input[type="text"], button {
  color: rgb(0, 0, 0);
  font-family: Arial, Georgia;
}