
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.vl {
  border-left: 2px solid rgb(105, 105, 105);
  height: 150%;
  position: absolute;
  left: 15%;
  margin-left: -3px;
  top: 10;
}
.header{
  line-height:3 ;
}
h1 {
    background: rgb(11, 27, 43);
    color:white;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    line-height: 4;
}
h2, h3 {
    top: 10%;
    color: rgb(21, 22, 83);
    text-decoration: underline;
    font-family: Arial;
    font-size: 200%;
    font-weight: lighter;
    line-height: 2;
}

.column{
  float: left; 
  padding: 0px; 
}

.column.side{
  width: 15%; 
}

.column.middle{
  width: 60%; 
  margin: 2em;
}

.row:after{
  content: ""; 
  display: table; 
  clear: both; 
}

body {
 margin: 2em;
}
body, input[type="text"], button {
  color: rgb(0, 0, 0);
  font-family: Arial, Georgia;
}
.button{
  background-color: white;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 4px;
  border-color: rgb(105, 105, 105); 
  color: black;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-style: 'Alata';
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
.button:hover{
  background-color: rgb(11, 27, 43);
  color: white;
}

  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

